<div class="card">
  <div class="card-header">
    <h2 class="text-xl font-semibold">Active Loan</h2>
  </div>
  <div class="card-body">
    <dl class="grid grid-cols-2 gap-4">
      <dt>Amount:</dt>
      <dd>₹<%= loan.amount %></dd>

      <dt>Interest Rate:</dt>
      <dd><%= loan.interest_rate %>%</dd>

      <dt>Total Due:</dt>
      <dd>₹<%= loan.formatted_total_amount %></dd>

      <dt>Status:</dt>
      <dd><%= loan.state.humanize %></dd>
    </dl>

    <% if loan.open? %>
      <%= button_to 'Repay Loan', repay_loan_path(loan), method: :patch, class: 'btn btn-primary mt-4' %>
    <% end %>
  </div>
</div>