<div class="bg-white rounded-lg shadow p-6">
  <h2 class="text-xl font-semibold mb-4">Loan History</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Amount</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Status</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Date</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Actions</th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
      <% @closed_loans.each do |loan| %>
        <tr>
          <td class="px-6 py-4">$<%= number_with_precision(loan.amount, precision: 2) %></td>
          <td class="px-6 py-4 capitalize"><%= loan.state %></td>
          <td class="px-6 py-4"><%= loan.created_at.in_time_zone("Asia/Kolkata").strftime("%B %d, %Y %I:%M %p") %></td>
          <td class="px-6 py-4">
            <%= link_to "View", loan_path(loan), class: "text-blue-600 hover:text-blue-900" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @closed_loans %>

  </div>
</div>