<div class="bg-gray-800 rounded-lg shadow-lg p-6 mb-8 border border-gray-700">
  <h2 class="text-xl font-semibold mb-4">Loan History</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead class="bg-gray-800">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Amount</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Status</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"></th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Date</th>
      </tr>
      </thead>
      <tbody class="bg-gray-800 divide-y divide-gray-700">
      <% @closed_loans.each do |loan| %>
        <tr class="hover:bg-gray-700 transition-colors cursor-pointer" data-url="<%= loan_path(loan) %>" onclick="window.location = this.dataset.url">
          <td class="px-6 py-4">$<%= number_with_precision(loan.amount, precision: 2) %></td>
          <td class="px-6 py-4 capitalize"><%= (loan.state).humanize %></td>
          <td class="px-6 py-4 capitalize"></td>
          <td class="px-6 py-4"><%= loan.created_at.in_time_zone("Asia/Kolkata").strftime("%B %d, %Y %I:%M %p") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @closed_loans %>

  </div>
</div>